/* A palavra-chave 'inherit' */
.footer a {
  color: inherit; /* Herda a cor do pai */
}

/* A palavra-chave 'initial' */
.footer a {
  background-color: initial; /* Restaura para o valor padrão */
}

/* A palavra-chave 'unset' */
.footer a {
  color: unset; /* Herda a cor do pai */
  background-color: unset; /* Restaura para o valor padrão */
}

/* A palavra-chave 'revert' */
.footer a {
  text-decoration: revert; /* Volta para o estilo padrão do navegador */
}

/* Propriedades de taquigrafia */
.title {
  font: italic bold 32px/1.2 "Helvetica", "Arial", sans-serif; /* Define fonte */
}

.btn {
  border: 2px solid black; /* Define borda */
}

.btn {
  background: url('imagem.jpg') no-repeat center / cover fixed; /* Define fundo */
}

/* Cuidado com as abreviações */
h1 {
  font: bold 16px Arial; /* Define fonte */
}

/* Ordem dos valores abreviados */
.nav a {
  padding: 10px 15px 0 5px; /* Top, Right, Bottom, Left */
}

.nav a {
  padding: 5px 15px; /* Top e Bottom, Left e Right */
}